extends layout

block content
  .row.justify-content-center
    .col-md-4
      h2.mt-5 Log In
      if message && message != ''
        .alert.alert-danger #{message}
      form(method="post")
        .form-group
          label(for="email") Username
          input.form-control#email(type="text",name="username")
        .form-group.mt-3
          label(for="password") Password
          input.form-control#password(type="password",name="password")
        .mt-3
          button.btn.btn-primary(type="submit") Log In
