@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body, .btn {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}
.buttonfull,.prenotato, .comprato {
  height: 100%;
  width: 100%;
  text-align: right;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
  color: black;
}
.shape td {
  background-color: rgba(0,0,0,0);
  /*border: 1px solid #FFF;*/
  height: 41.5px;
  width: 53.7px;
}
.buttonfull,.prenotato, .comprato {
  display: block;
}

.buttonfull span{
  margin: auto;
}

.buttonfull:hover {
  background-color: rgba(30,30,30,0.4);
  color:#FFF
}

.prenotato {
  background-color:#FFF;
}

.comprato {
  background-color:rgb(255, 0, 0);
  color: #FFF;
}

.shape{
  margin: auto;
  width: max-content;
  background-image: url("/img/scultura.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  background-size: contain;
}
.mycontainer {
  /* */ width: 100%;
  height: 100vh;
  overflow: scroll;
  padding: 100px;
  background-image: url("/img/bkg.png");
  background-position: -1px 3px;
  background-repeat:repeat-x;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    position: absolute;
    right: 0;
  }
}
